main {
    height: 100vh;
}

.scene {
	display: block;
	pointer-events: auto;
}

.scene a {
	cursor: pointer;
}

.content__img--1 {
	grid-area: 1 / 3 / 2 / 5;
	opacity: 0;
	transform: translate3d(30px,-30px,0);
	transition: transform 1.5s, opacity 0.6s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.content__img--2 {
	grid-area: 2 / 1 / 3 / 3;
	opacity: 0;
	transform: translate3d(-30px,30px,0);
	transition: transform 1.5s, opacity 0.6s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.content__inner--visible .content__img--1,
.content__inner--visible .content__img--2 {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.rect-color-hero {
	fill: #33256d;
}

.rect-color-2 {
	fill: #0525ff;
}

.rect-color-3 {
	fill: #ff00e6;
}

.rect-color-4 {
	fill: #ff00e6;
}

.rect-color-5 {
	fill: #0525ff;
}

.rect-color-6 {
	fill: rgba(0, 255, 255, 0.8);
}

.content__img--1 rect {
	fill: #ff00e6;
}

.content__img--1 circle {
	fill: none;
	stroke: #1c133f;
}

.content__img--2 rect {
	fill: #0525ff;
}

.content__img--2 polygon {
	fill: none;
	stroke: #1c133f;
}
